#scrollable {
 position: relative;
 background-color: lightblue;
 height:70px;
 padding:10px;
 border:4px solid black;
 margin:1em;
 overflow: auto;
}
.blue{
    color:blue;
}
.big{
    font-size: 2rem;
}