body > *{
    border:5px solid lightblue;
}
body{
    display:grid;
    grid-template-columns:[left] 3fr [middle] 1fr[right];
    grid-template-rows: 1fr 3fr 1fr;
    grid-template-areas: 
    "header header"
    "main aside"
    "footer footer";
    gap:10px;
    /* justify-content: center;
    align-items:center; */
   
}
header{
 grid-area: header;
}
main{
    grid-area: main;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}
aside{
    grid-area: aside;
}
footer{
    grid-area: footer;
}