div{
    background-color: lightblue;
    width:30%;
    height:6em;
    border-radius:12px;
    padding:12px;
    margin:4em;
    animation-name: moves;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    animation-direction: reverse;
    animation-iteration-count: 2;
    animation-play-state: running;
    
    animation-timing-function: linear;
    
}
@keyframes moves {
    50%{
     transform: translate(200px, 0px)
    }
    100%{
     transform: translate(200px, 300px);
    }
}