section{
    display:flex;
    /* flex-direction: row;
    flex-wrap: wrap; */
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;
    align-content: space-around;
    gap:20px;
    
    border:2px dotted black;
    height:500px;
}
div{
    border:2px solid black;
    color: white;
    font-size: 30px;
}
.red{
    
    height:75px;
    background-color: red;
}
.blue{
    height:125px;
    background-color: blue;
}
#green{
    flex:1 0 200px;
    height:100px;
   
    background-color: green;
}